<div>    
{% for cat in categorie %}
    {% if((cat.parent != null) and (cat.parent.id == currentParent))%}
    <li class="sous-categorie-block">
            <a class="navbarLink" ng-click="redirectCategorie({{cat.id}})">
                {{cat.intitule}}
            {% if(cat.enfant) %}
                <span class="glyphicon glyphicon-chevron-down"></span>
            {% endif %}
            </a>
            {% if(cat.enfant) %}
            <div  class="sous-categorie">
            <ul class="navbarlist">
                {{render(controller('EcommerceEcommerceBundle:Default:categorieView',{'currentParent':cat.id}))}}
            </ul>
            </div>
            {% endif %}
    {% endif %}
    </li>
    {% endfor %}
</div>