{% extends "EcommerceEcommerceBundle:Default:index.html.twig" %}

{% block jumbotron %}
{% endblock %}

{% block body %}
<div class="container-fluid">
    <div>
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Ajouter une oeuvre</a></li>
    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Modifier une oeuvre</a></li>
    <li role="presentation"><a href="#categorie" aria-controls="categorie" role="tab" data-toggle="tab">Ajouter une categorie</a></li>
  </ul>

  <div class="tab-content">
     <div role="tabpanel" class="tab-pane active" id="home">
      {{ render(controller("EcommerceEcommerceBundle:Admin:ProduitAddForm"))}}
     </div>
    <div role="tabpanel" class="tab-pane" id="profile">
        {{ render(controller("EcommerceEcommerceBundle:Admin:ProduitEditForm"))}}
    </div>
      <div role="tabpanel" class="tab-pane" id="categorie">
        {{ render(controller("EcommerceEcommerceBundle:Admin:CategorieAddForm"))}}
    </div>
  </div>

</div>   
</div>
{% endblock %}