#main{
    padding-top:50px;
}
/*### SPINNER ###*/

.spinner {
  margin: 100px auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: #c92a2a;
  height: 100%;
  width: 6px;
  display: inline-block;
  
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}

/*### NAVBAR ###*/

.navbar{
    background-color: #FFF;
    box-shadow: 0px 8px 10px -10px #424242;
}

.navbarlist{
    list-style:none;
    padding:0;
}

.navbarLink{
    text-decoration: none!important;
    padding: 15px;
    display: inline-block;
    position: relative;
    float: left;
    outline: none;  
    cursor: pointer;
}

.navbarLeft{
    float:left;
}

.navbarRight{
    float:right;
}
.sous-categorie{
    display: none;
    position: absolute;
    background-color: #FFF;
    top: 50px;
    box-shadow: 0px 8px 10px -10px #424242;
    width: 100%;
    left:0px;
}

.sous-categorie li{
    float:left;
}

/*### INDEX ###*/

.jumbotron{
        box-shadow: 0px -8px 10px -10px #424242 inset;
        margin-bottom: 0;
}

.jumbotron h1{
    color:#c92a2a;
    text-shadow: 1px 1px 3px #424242;
}

.carousel{
    height: 100vh;
}

.carousel .carousel-inner{
    height: 100%;
}

.modal-navbar-backdrop{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    background-color: #000;
    opacity:0.5;
    display:none;
}

/* ### PRODUITS ### */

.jumbotronWallpaper{
    background-image: url('../uploads/img/adam-dieu.png');
    background-position: 0 30%;
}

.ListeProduits{
    list-style:none;
    padding:0;
}


.ListeProduits li{
    display: inline-block;
}

.produits{
    border:1px solid #D8D8D8;
    margin-top:10px;
    transition:0.5s;
}

.produits:hover{
    border-color:#000;
    transition:0.5s;
    box-shadow: 0px 0px 25px -8px #424242;
}

.produitsNom{
    margin: 0;
    padding: 14px 5px;
}

.produitsPrix{
    margin: 0;
    padding: 5px;
    text-align: right;
}

.imageProduits{
    width:100%;
}

/* ### PRODUIT ### */

.produit-leftside img{
    width: 100%;
}

.ui-slider-tick {
  position: absolute;
  background-color: #aaa;
  width: 2px;
  height: 8px;
  top: 16px;
}

.ui-slider {
  position: relative;
}

.ui-slider-out-of-bounds {
  position: absolute;
  background-color: #EEE;
  height: 100%;
}

.ui-slider-tip {
  position: absolute;
  top: 2px;
  left: 0px;
  width: 21px;
  text-align: center;
  font-size: 0.8em;
}