#main{
    padding-top:50px;
}

/*### NAVBAR ###*/

.navbar{
    background-color: #FFF;
    box-shadow: 0px 8px 10px -10px #424242;
}

.navbarlist{
    list-style:none;
    padding:0;
}

.navbarLink{
    text-decoration: none!important;
    padding: 15px;
    display: inline-block;
    position: relative;
    float: left;
    outline: none;  
}

.navbarLeft{
    float:left;
}

.navbarRight{
    float:right;
}

.left-sscat{
    left:44px;
}

.sous-categorie{
    display: none;
    position: absolute;
    background-color: #FFF;
    top: 50px;
    box-shadow: 0px 8px 10px -10px #424242;
}

.sous-categorie li{
    float:left;
}

/*### INDEX ###*/

.jumbotron{
        box-shadow: 0px -8px 10px -10px #424242 inset;
        margin-bottom: 0;
}

.jumbotron h1{
    color:#c92a2a;
    text-shadow: 1px 1px 3px #424242;
}

.carousel{
    height: 100vh;
}

.carousel .carousel-inner{
    height: 100%;
}


/* ### PRODUITS ### */

.ListeProduits{
    list-style:none;
    padding:0;
    column-count: 3;
    column-gap: 10px;
}

@media(max-width:768px){
    .ListeProduits{
        column-count: 1;
    }
}

.ListeProduits li{
    display: inline-block;
    width:100%;
}

.produits{
    border:1px solid #D8D8D8;
    margin-top:10px;
    transition:0.5s;
}

.produits:hover{
    border-color:#000;
    transition:0.5s;
    box-shadow: 0px 0px 25px -8px #424242;
}

.produitsNom{
    margin: 0;
    padding: 14px 5px;
}

.produitsPrix{
    margin: 0;
    padding: 5px;
    text-align: right;
}

.imageProduits{
    width:100%;
}
